@font-face {
    font-family: "GT America Medium";
    src: url("../public/fonts/GT America Medium.eot");
    src: url("../public/fonts/GT America Medium.eot?#iefix") format("embedded-opentype"),
    url("../public/fonts/GT America Medium.woff2") format("woff2"),
    url("../public/fonts/GT America Medium.woff") format("woff"),
    url("../public/fonts/GT America Medium.ttf") format("truetype")
}

@font-face {
    font-family: "Gotham Pro Medium";
    src: url("../public/fonts/GothamPro-Medium.eot");
    src: url("../public/fonts/GothamPro-Medium.eot?#iefix") format("embedded-opentype"),
    url("../public/fonts/GothamPro-Medium.woff2") format("woff2"),
    url("../public/fonts/GothamPro-Medium.woff") format("woff"),
    url("../public/fonts/GothamPro-Medium.ttf") format("truetype")
}

@font-face {
    font-family: "Gotham Pro Regular";
    src: url("../public/fonts/GothamPro-Regular.eot");
    src: url("../public/fonts/GothamPro-Regular.eot?#iefix") format("embedded-opentype"),
    url("../public/fonts/GothamPro-Regular.woff2") format("woff2"),
    url("../public/fonts/GothamPro-Regular.woff") format("woff"),
    url("../public/fonts/GothamPro-Regular.ttf") format("truetype")
}

@font-face {
    font-family: "Museo Sans Rounded 700";
    src: url("../public/fonts/Museo Sans Rounded 700.eot");
    src: url("../public/fonts/Museo Sans Rounded 700.eot?#iefix") format("embedded-opentype"),
    url("../public/fonts/Museo Sans Rounded 700.woff2") format("woff2"),
    url("../public/fonts/Museo Sans Rounded 700.woff") format("woff"),
    url("../public/fonts/Museo Sans Rounded 700.ttf") format("truetype")
}

@font-face {
    font-family: "SF Pro Text Bold";
    src: url("../public/fonts/SF Pro Text Bold.eot");
    src: url("../public/fonts/SF Pro Text Bold.eot?#iefix") format("embedded-opentype"),
    url("../public/fonts/SF Pro Text Bold.woff2") format("woff2"),
    url("../public/fonts/SF Pro Text Bold.woff") format("woff"),
    url("../public/fonts/SF Pro Text Bold.ttf") format("truetype")
}

@font-face {
    font-family: "Poppins";
    src: url("../public/fonts/Poppins.eot");
    src: url("../public/fonts/Poppins.eot?#iefix") format("embedded-opentype"),
    url("../public/fonts/Poppins.woff2") format("woff2"),
    url("../public/fonts/Poppins.woff") format("woff"),
    url("../public/fonts/Poppins.ttf") format("truetype")
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('../public/fonts/Poppins-Medium.eot');
    src: url('../public/fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
    url('../public/fonts/Poppins-Medium.ttf') format('truetype'),
    url('../public/fonts/Poppins-Medium.woff') format('woff'),
    url('../public/fonts/Poppins-Medium.woff2') format('woff2');
}


@font-face {
    font-family: 'Poppins Semi Bold';
    src: url('../public/fonts/Poppins-SemiBold.eot');
    src: url('../public/fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../public/fonts/Poppins-SemiBold.ttf') format('truetype'),
    url('../public/fonts/Poppins-SemiBold.woff') format('woff'),
    url('../public/fonts/Poppins-SemiBold.woff2') format('woff2');
}


@font-face {
    font-family: "Poppins Bold";
    src: url("../public/fonts/Poppins Bold.eot");
    src: url("../public/fonts/Poppins Bold.eot?#iefix") format("embedded-opentype"),
    url("../public/fonts/Poppins Bold.woff2") format("woff2"),
    url("../public/fonts/Poppins Bold.woff") format("woff"),
    url("../public/fonts/Poppins Bold.ttf") format("truetype")
}