.custom-checkbox-input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.custom-checkbox-label {
    position: relative;
    cursor: pointer;
}

.custom-checkbox-label::before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid #8A9393;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
}

.custom-checkbox-input:checked + .custom-checkbox-label:before {
    background: #1F6763;
    border: 1px solid #1F6763;
}

.custom-checkbox-input:checked + .custom-checkbox-label:after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}